<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2> Your account was completed successfully!</h2>
        <hr />
        <p>  You can log in to your account using your credentials! </p>
    </div>
</div>